@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to top, #0067e0, #07A4fd);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: white;
    border-radius: 20px;
    padding: 25px;
    width: 90%;
    max-width: 350px;
    max-height: 500px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.head {
    padding-bottom: 15px;
    border-bottom: solid 1.5px #eeeeee;
}

.create-todo{
    margin: 15px 0;
    display: flex;
    align-items: space-between;
    min-height: 35px;
}

.create-todo input{
    width: 85%;
    padding: 0 10px;
    background: #eeeeee;
    border-radius: 6px;
    border: none;
}

.create-todo input:focus {
    outline: solid 3px #e3e3e3;
}

.create-todo button{
    width: 35px;
    border-radius: 6px;
    background: #07A4fd;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.1s;
}

.create-todo button:focus {
    outline: solid 4px #07a4fd05;
}

.task-list {
    overflow-y: auto;
}

.task-list::-webkit-scrollbar {
    width: 0;
}

.task {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.task span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .check-btn {
    width: 20px;
    height: 20px;
    border: solid 1.5px #07a4fd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.task .check-btn i {
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.task .delete-btn {
    font-size: 20px;
    background: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    color: #808080;
    transition: 0.3s;
}

.task .delete-btn:hover {
    background: #ff000020;
    color: red;
}

.foot {
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    border-top: solid 1.5px #eeeeee;
}

.foot button {
    background: #07a4fd;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.1s;
}

.foot button:focus {
    outline: solid 4px #07A4fd50;
}

.task.true .check-btn {
    background: #07a4fd;
}

.task.true span {
    text-decoration: line-through;
    color: #808080;
}

.task.true .delete-btn{
    opacity: 0.7;
}